@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

font-poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

font-roboto {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

main #invoice {
    font-family: "Roboto", serif !important;
    font-weight: 400;
    font-style: normal;
}

select.font-poppins,
select.font-poppins option {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

@media print {
    @page {
        margin: 0;
    }
    body * {
        visibility: hidden;
    }
    #invoice, #invoice * {
        visibility: visible;
    }
    #invoice {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

